{% extends 'baseAdmin.html.twig' %}
{% block title %}Actualités{% endblock %}
{% block monTitre %}
    {% if edit %}
        Modifier l'actu {{actu.title}}
    {% else %}
        Ajouter une Actualité
    {% endif %}
{% endblock %}
{% block body %}
{% if edit %}
{% set pathx = 'modifActu' %}
{% else %}
{% set pathx = 'createActu' %}
{% endif %}
<form action="{{ path(pathx,{'id':actu.id}) }}" name="actu" method="post" enctype="multipart/form-data">
    <div class="container">
            <div class="form-group">
            <label for="file">Ajouter une ou plusieurs images:</label>
                <input type="file" multiple class="form-control p-1" name="photos[]" id="photos">
            </div>
        {{form_widget(form)}}
        <input type="submit" class="btn btn-primary mb-4" value="Valider">
        <div class="row">
            {% for a in actu.images %}
                <div class="col-lg-4">
                    <img src="{{asset('images/actu/' ~ a.src)}}" alt="" class="adminImg">
                    <div class="supImg">
                        <i class="fas fa-times fa-2x p-1 ml-2"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{form_end(form)}}
    {% endblock %}

