{% extends 'baseAdmin.html.twig' %}
{% block title %}Actualités{% endblock %}
{% block monTitre %}
{% if edit %}
Modifier l'actu {{actu.title}}
{% else %}
Ajouter une Actualité
{% endif %}
{% endblock %}
{% block body %}
{% if edit %}
{% set pathx = 'modifActu' %}
{% else %}
{% set pathx = 'createActu' %}
{% endif %}
<div class="container">
    <form action="{{ path(pathx,{'id':actu.id}) }}" name="actu" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Ajouter une ou plusieurs images:</label>
            <input type="file" multiple class="form-control p-1" name="photos[]" id="photos">
        </div>
        {{form_widget(form)}}
        <input type="submit" class="btn btn-primary mb-4" value="Valider">
    {{form_end(form)}}
    <div class="row">
        {% for a in actu.images %}
        <div class="col-lg-4">
            <div class="supImg">
                <img src="{{asset('images/actu/' ~ a.src)}}" alt="" class="adminImg">
                <a href="#" class="deleteImgActu" data-actu="{{ actu.id }}" data-photo="{{ a.id }}">
                    <i class="fas fa-times fa-2x p-1 ml-2"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

