{% extends 'baseAdmin.html.twig' %}
{% block title %}Ajouter une machine{% endblock %}
{% block monTitre %}
    {% if edit %}
        Modifier {{machine.nom}}
    {% else %}
        Ajouter une machine
    {% endif %}
{% endblock %}
{% block body %}
{% if edit %}
{% set pathx = 'modifMachine' %}
{% else %}
{% set pathx = 'createMachine' %}
{% endif %}
<form action="{{ path(pathx,{'id':machine.id}) }}" name="machines" method="post" enctype="multipart/form-data">
<div class="container-fluid">
    <div class="row">
        <div class="col-6">        
            {{form_row(form.nom)}}
            {{form_row(form.immatriculation)}}
            {{form_row(form.moteur)}}
            {{form_row(form.pMoteur)}}
            {{form_row(form.envergure)}}
            {{form_row(form.vitesse)}}
            {{form_row(form.nbPlace)}}
            {{form_row(form.description)}}
        </div>
        <div class="col-6">
            {{form_row(form.categories)}}
            <div class="form-group">
                <input type="file" multiple class="form-control dropzone mt-3" name="photos[]" id="photos">
            </div>
            {% for m in machine %}
                <img src="{{asset('images/machines/' ~ m.images.src)}}" alt="">
            {% endfor %}
            <input type="submit" class="btn btn-primary mt-2" value="Valider">
        </div>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}