{% extends 'baseAdmin.html.twig' %}
{% block title %}Ajouter une machine{% endblock %}
{% block monTitre %}
    {% if edit %}
        Modifier {{machine.nom}}
    {% else %}
        Ajouter une machine
    {% endif %}
{% endblock %}
{% block body %}
{% if edit %}
    {% set pathx = 'modifMachine' %}
{% else %}
    {% set pathx = 'createMachine' %}
{% endif %}
<form action="{{ path(pathx,{'id':machine.id}) }}" name="machines" method="post" enctype="multipart/form-data">
<div class="container-fluid">
    <div class="row">
        <div class="col-6">        
            {{form_row(form.nom)}}
            {{form_row(form.immatriculation)}}
            {{form_row(form.moteur)}}
            {{form_row(form.pMoteur)}}
            {{form_row(form.envergure)}}
            {{form_row(form.vitesse)}}
            {{form_row(form.nbPlace)}}
            {{form_row(form.description)}}
        </div>
        <div class="col-6">
            {{form_row(form.categories)}}
            <div class="form-group">
                <input type="file" multiple class="form-control dropzone mt-3" name="photos[]" id="photos">
            </div>
            <input type="submit" class="btn btn-primary mt-2 mb-4" value="Valider">
            {{form_end(form)}}
            <div class="row">
                {% for m in machine.images %}
                    <div class="col-lg-6">
                        <div class="supImg">
                            <img src="{{asset('images/machines/' ~ m.src)}}" alt="imageMachine" class="adminImg">
                            <a href="#" class="deleteImgMachine" data-machine="{{ machine.id }}" data-photo="{{ m.id }}">
                                <i class="fas fa-times fa-2x p-1 ml-2"></i>
                            </a>
                        </div>  
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}