{% extends 'baseAdmin.html.twig' %}
{% block title %}Annonce{% endblock %}
{% block monTitre %}Annonce de {{annonce.user.firstname}} {{annonce.user.lastname}}{% endblock %}
{% block body %} 
    <div class="container">
        <h2 class="my-4">{{annonce.title}}</h2>
        <p class="mb-5">{{annonce.content}}</p>
        <div class="row">
            {% for a in annonce.images %}
                <div class="col-lg-4">
                    <img src="{{asset('images/annonce/' ~ a.src)}}" alt="" class="adminImg">
                    <div class="supImg">
                        <i class="fas fa-times fa-2x p-1 ml-2"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}