<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Prenom:</td>
            <td>{{contact.firstname}}</td>
        </tr>
        <tr>
            <td>nom:</td>
            <td>{{contact.lastname}}</td>
        </tr>
        <tr>
            <td>Téléphone:</td>
            <td>{{contact.phone}}</td>
        </tr>
        <tr>
            <td>Emai:l</td>
            <td>{{contact.email}}</td>
        </tr>
        <tr>
            <td>Message:</td>
            <td>{{contact.message|nl2br}}</td>
        </tr>
    </table>
</html>