{% extends "base.html.twig" %}
{% block title %}
    Les actualités
{% endblock %}
{% block body %}
<div class="wrapper container">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="py-5 pl-3">Toute nos actualités</h1>
            {% for a in actus %}
            <div class="row p-3 mt-2">
                <div class="col-lg-4">
                    <img src="{{asset('images/actu/' ~ a.images.first.src)}}" alt="image-actu" class="img-fluid mt-2 imgActu">
                </div>   
                <div class="col-lg-8">
                    <h2>{{a.title}}</h2>
                    <p>
                        {{a.content|slice(0,200)}}...
                    </p>
                    <a href="{{path('actu_show', {'slug': a.slug})}}"><i class="fas fa-book-open btn btn-primary mr-2"></i></a>
                    <div class="mt-2">
                        <small>Posté le: {{a.createdAt|date("d/m/Y")}}</small>
                    </div>
                </div>
            </div>
            <hr class="hrVol my-5">
            {% endfor %}
        </div>
        <div class="col-lg-3">
            {% include "partials/sidebar.html.twig" %}
        </div>
    </div>
    </div>
    {% endblock %}